



/*banner*/
.maxlatest{position: relative;}
.maxlatest .swiper-slide{position:relative;}
.maxlatest .pagination{position: absolute;bottom: 6%;z-index: 1; padding:0; }
.banner{position: relative;}
.maxon_salesul .banner_btn a{top:-60px;}
.swiper-container .swiper-wrapper,.swiper-container .swiper-wrapper .swiper-slide{height: auto !important;}
.pagination {padding:60px 0; left: 0;text-align: center;width: 100%;}
.banner .swiper-pagination-switch {display: inline-block; *display: inline;zoom:1; width: 30px;height: 4px;border-radius: 2px;background: rgba(0,0,0,.9);margin: 0 3px;cursor: pointer;}
.banner .swiper-active-switch {background: #096735;}
.banner .container{position: absolute; top:50%; left: 0; transform:translate(0,-50%);}
.swiper-slide .container{padding: 0 17%;width: 100%; float: left;}
.swiper-slide .maxtite_ban{color:#fff;width: 40%;float:left;}
.swiper-slide .maxtite_ban p{padding:18px 0 30px; font-size: 1rem;}
/*.swiper-slide .maximg_ban{width:60%;float: left;}
.swiper-slide .maximg_ban img{max-width:100%;}*/
.swiper-slide .maxtite_ban h2{font-size:2.4rem;line-height:1em;text-transform: uppercase;}
/*.maxlatest .swiper-slide a{
    font-size: 18px;
    padding: 12px 25px;
    color: #fff;
    border: 2px solid #fff;
    display: block;
    float: left;
}*/

.maxlatest .sign-content{position:  absolute; top:50%; z-index: 9; right:10%; padding:30px; width:25%; max-width: 400px; min-width: 330px; transform: translate(0,-50%); }
.maxlatest .sign-content .text-section{margin-bottom: 16px;}
.maxlatest .sign-content .btn-set{margin-top: 20px;}
.maxlatest .sign-content input[type="text"],.maxlatest .sign-content input[type="password"],.maxlatest .sign-content .btn{height: 40px; line-height: 40px; padding:0;}

.maxlatest .bansearch{position: absolute; top:50%; left: 10%; z-index: 3; width: 40%; max-width: 500px; color: #fff; transform: translate(0,-50%);}
.maxlatest .bansearch form{position: relative;  margin: 20px 0;}
.maxlatest .bansearch .maxicon-search{background-position: 0 -218px; position: absolute; top:0; right: 0; height: 50px; width: 50px;}
.maxlatest .bansearch p{font-size: 42px; text-transform: uppercase; font-weight: bold; line-height: 1.0em;}
.maxlatest .bansearch span{position: absolute; right:0; top:0; width: 60px; height: 50px;line-height: 50px; font-size: 16px; color: #999 }
.maxlatest .bansearch .btn{height: 50px;}
.maxlatest .bansearch .input-group{width: 100%}

/*main*/
.maxfactory,.maxmean{margin: 60px 0;width: 100%;}
.maxfactory:after,.maxmean:after{content:''; display: block; clear:both;}
.maxfactory li{position: relative; background: #6fa742;color: #fff; width: 23.5%; float: left; margin-left: 2%; padding: 20px;}
.maxfactory .maxitem4{background: #096735;margin-right:0;}
.maxfactory .maxitem1{margin-left:0;}
.maxfactory .maxitem1{}
.maxfactory li img{width: 30%;}
.maxfactory li p{display:-webkit-box; position: absolute; top:50%; right:20px; width:calc(70% - 20px) ; transform:translate(0,-50%); padding-left:20px; line-height: 1em; font-size: 1.4rem; color:#fff; overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2; }

.maxmean li{display: table-cell;  color: #fff; width:20%;  font-size: 0; margin-left: 1.5%; vertical-align: top; }
.maxmean li a{display: block; margin-right:5%; position: relative; line-height: 1em;}

.maxmean div{position: absolute; top:0; left: 0; width: 100%; height: 100%; color: #fff; font-size: 16px; line-height: 1.5em;}
.maxmean p{font-size: 20px; font-weight: bolder;}
.maxmean span{display: block; margin-top: 8px; line-height: 1.4em;}
.maxmean .meansale{padding:20px; text-align: center; color: #333 ;}
.maxmean .meansale p{font-size: 32px; text-transform: uppercase;}
.maxmean .meansale em , .maxmean .meansale i{display: block;  border-radius: 50%; padding:5px;}
.maxmean .meansale em{ position: absolute; top:45%; left: 65%; line-height: 1.5em; color: #fff; background: #096735;}
.maxmean .meansale i{border:2px solid #0b4928; }
.maxmean .meansale label{display: block; position: absolute; top:0; left: 0; padding:0 8px 8px 0;  border-bottom-right-radius: 80px; background: #f24805; color: #fff; font-size: 12px; }
.maxmean .meansale label i{border:none; display: inline; font-size: 32px; vertical-align:-webkit-baseline-middle;}

.maxmean .text{top:auto; bottom:0; padding:20px; height: auto; 
background:-webkit-linear-gradient(top,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 100%);}

.maxmean .textmessge{ color: #333; text-align: center; padding:52% 16% 0 16%; }
.maxmean .textmessge p{font-weight: normal;}
.maxmean .textmessge span{display: block; width: 70%; padding:10px 0; margin: 25px auto; background: #096735; color: #fff;}

.maxmean .formtext{background: #096735; padding:20px;}
.maxmean .formtext div{position: static; font-size: 14px; color: #5fc48f}
.maxmean .formtext p{ font-weight: normal; color: #fff }
.maxmean .formtext input{background: #0c4e2b url(maxmeanicon.png) no-repeat left center; border:none; color: #fff; margin-top: 15px; padding-left:30px; font-size: .8rem;}
.maxmean .formtext input::-webkit-input-placeholder{color: #64cb94}
.maxmean .formtext input[type="number"]{background-image:url(maxmeanicon2.png);}
.maxmean .formtext button{display: block; margin-top: 15px; padding:0; background: #70a644; color: #fff; border:none; width: 60%; height:50px ;line-height: 50px;  font-size: 18px;   text-transform: capitalize;  text-align: center; font-weight: normal;}

/*maxsales*/
.maxsales li{width: 33.33%;position: relative;}
.maxsales ul{display: inline-flex;}
.maxsales li img{width: 100%;}
.maxsales .bg-box2{position: absolute;top: 0;color: #fff;width: 100%;text-align: center;}
.maxsales .maxmark{width: 100%;float: left;margin-top: 24px;}
.maxmark-con{width: 200px; margin:auto; }
.maxmark-con h3{float: right;font-size: 5rem;margin-right: 4px;font-weight: bold;}
.maxmark-con span{font-size: 1.4rem; padding-bottom: 5px; width: 100%;display: block;text-align: left;font-weight: 500;margin-bottom: -24px;text-transform: capitalize;}
.maxmark-con p{float: right;font-size: 1.6rem; font-weight: bolder; margin-top: 3rem;text-align: left;}
.maxmark-con em{width:100%;display:block;  line-height: 1em;}
.maxsales .maximgp{font-size:20px;margin-bottom: 20px;}


/*maxsales end*/


.maxon_salesul_list{overflow: visible;width: calc(100% + 14px);margin-left: -10px;}
.maxon_salesul_list li{width: 20%;float: left;margin-bottom: 12px;}
.maxprodu_sales{margin-top: 53px;}
/*.maxon_salesul_list li:nth-child(1) .swiper-slide-bg,.maxon_salesul_list li:nth-child(5) .swiper-slide-bg{margin-left:0;}*/

.maxlatest_main{background: #096735; margin-top: 27px; padding:40px 0;}
.maxlatest_main li{position: relative;background: #096735;}
.maxlatest_main .container{overflow: hidden;width:70%;position: relative;}
.maxlatest_main .maxporsit{background: #096735; font-size: 0; text-align: center;}
.maxlatest_main .maximg_ban , .maxlatest_main .maxtite_ban{display:inline-block; vertical-align: middle;}
.maxlatest_main .maximg_ban{width: 30%; padding-right: 20px; }
.maxlatest_main .maxtite_ban{text-align: left; float:none; width: 50%;}
.maxlatest_main .swiper-slide-active{z-index: 1;}
.maxlatest_main .maxmark-con{margin: 0;width:400px;}
.maxlatest_main .maxmark-con:after{content: ''; display: block; clear: both;}
.maxlatest_main .maxtite_ban span{font-size: 14px; display: block;}
.maxlatest_main .maxmark-con h3{font-size: 6rem; margin:0 4px; }
.maxlatest_main .maxmark-con h4{margin-top: 14px;}
.maxlatest_main .maxtite_ban p{width: 100%;padding: 0px;font-size: 1.4rem; }

.maxlatest_main .maxmark-con h4 span{font-size: 2.5rem; font-weight: bolder;line-height: 1.5em; text-transform: uppercase;}
.maxlatest_main .maxmark-con p{margin-top: 25px;padding: 0px;font-size: 2.5rem; width: 99px;}
.maxlatest_main .maxmark-con em{line-height: 1em;font-weight: bolder;}

.maxlatest_main .maxmark-con p,.maxlatest_main .maxmark-con h4,.maxlatest_main .maxmark-con h3{float: left;}

.maxlatest_main .banner_btn a{width: 26px;height: 60px;display: block;}
.maxlatest_main .banner_btn{width: 100%;position: absolute;top:50%;z-index: 2;display: block;}
.maxlatest_main .banner_btn a:hover{background: url(maxindex-icon.png);}
.maxlatest_main .banner_btn a{
    display: block;
    background: url(maxindex-icon.png) no-repeat;
    width: 162px;
    height: 88px;
    position: absolute;
    top:-32px;
    cursor:pointer;
    }
.maxlatest_main .banner_btn .arrow-left{
    background-position: 2px -440px;
    left: 13px;
}
.maxlatest_main .banner_btn .arrow-right{
    right: 6px;
    background-position: -60px -440px;
    }
.maxlatest_main .banner_btn .arrow-right:hover{background-position: -60px -294px;}
.maxlatest_main .banner_btn .arrow-left:hover{background-position: 2px -294px;}

.maxlatest_main .button{margin-top: 30px;}
.maxlatest_main .button:hover{background: #fff;color: #096735;border-color: #fff;}

.maxfeatured{margin-top: 60px;margin-bottom: 66px;}
.maxfeatured ul:after{content:''; display: block; clear:both;}
.maxfeatured li a img{width: 100%;}
.maxfeatured li{width: 12.5%;float: left;height: 162px;position: relative;border-right: 1px solid #eee;}
.maxfeatured li:nth-child(1) a{background-position: 0 0;}
 .maxfeatured li:nth-child(1),.maxfeatured li:nth-child(2),.maxfeatured li:nth-child(3),.maxfeatured li:nth-child(4),.maxfeatured li:nth-child(5),.maxfeatured li:nth-child(6),.maxfeatured li:nth-child(7),.maxfeatured li:nth-child(8){border-bottom: 1px solid #eee;} 
.maxfeatured .maxhov,.maxfeatured li:hover .maxhid{display: none;}
.maxfeatured li:hover .maxhov{display: block;}

/* .maxfeatured li:after{content:'';display: block;width: 1px;height: 100%;position: absolute;bottom: 0;right: 0;background-color: #eeeeee;} */




/*media*/

@media screen and (max-width: 1680px) {
   body{
    font-size: 1rem;
   }

   .maxmean .formtext input ,.maxmean .formtext button{
        margin-top: 20px;
    }
    .maxmean .formtext input ,.maxmean .formtext button{
        height: 36px;
        line-height: 36px;
    }
    .sign-content label, .gen-content .g-cartable .solid-form label , .maxlatest .sign-content .text-section{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1580px) {
    body{
    font-size: .9rem;
   }
   label{
    font-size: 13px;
   }
   .sign-content .label-title{
    font-size: 14px;
   }
   .sign-content .label-title{
    margin-bottom: 6px;
   }
   .footer .maxfootnav{
        padding-left: 13%;
   }

}


@media screen and (max-width: 1440px) {
    .maxmean .formtext input ,.maxmean .formtext button{
        height: 30px;
        line-height: 30px;
        margin-top: 14px;
    }
    .maxlatest .sign-content{
        padding:20px;
    }
    .maxlatest .sign-content input[type="text"], .maxlatest .sign-content input[type="password"], .maxlatest .sign-content .btn{
        height: 36px;
        line-height: 36px;
        margin-top:10px;
        font-size: 16px;
    }
    .maxlatest .sign-content .label-title{
        margin-bottom: 0;
    }

    .maxlatest .sign-content .text-section{
        font-size: 12px;
        line-height: 1.2em;
    }
    .sign-content label, .gen-content .g-cartable .solid-form label ,.title{
        margin-bottom: 10px;
    }

    .maxlatest .sign-content{
        right: 5%
    }
    

    
}

@media screen and (max-width: 1366px) {
    label{
    font-size: 12px;
   }
    .maxmean div , .maxmean .formtext div{
        font-size: 12px
    }
    .maxmean .formtext button{
        font-size: 14px;
    }
    .maxmean .meansale p,.maxmean p,.maxmean .textmessge p{
        font-size: 18px;
    }
    .maxmean .meansale label i{
        font-size: 28px;
    }
    .maxmean .formtext input ,.maxmean .formtext button{
        height: 30px;
        line-height: 30px;
        margin-top: 14px;
    }
    .maxmean span{
        margin-top: 4px;
    }
    .maxtop .maxmenu li a{
        font-size: .8rem;
    }
    
    
}
@media screen and (max-width: 1280px) {
  .maxmean .meansale p, .maxmean p, .maxmean .textmessge p{
    font-size: 16px;
  }
  .footer .maxfootnav{
        padding-left: 12%;
   }
  
}

@media screen and (max-width: 1200px) {
    .swiper-slide .maxtite_ban h2 {
        font-size: 2rem;
    }
    .maxfactory li p , .maxlatest_main .maxtite_ban p{
        font-size: 1.2rem;
    }
    .maxsales .maximgp {
        font-size: 1rem;
    }
    .maxsales_but{
        font-size: .8rem;
    }
    .maxmark-con h3{
        font-size: 4rem;
    }
    .maxmark-con p{
        margin-top: 1.8rem;
    }
    .maxmark-con{
        margin-left: 20%;
    }
    .maxlatest_main .maxmark-con h3{
        font-size: 5rem;
    }
    .maxlatest_main .maxmark-con h4 span , .maxlatest_main .maxmark-con p{
        font-size: 2rem;
    }
    .maxlatest_main .maxmark-con em{
        line-height: .9em;
    }
    .maxmean .meansale p,.maxmean p,.maxmean .textmessge p{
        font-size: 14px;
    }
    .maxmean .textmessge span{
        margin:16px auto;
    }
    .maxmean .formtext{
        padding:14px;
    }
    .maxmean .formtext input ,.maxmean .formtext button{
        margin-top: 12px;
    }
    .maxlatest .sign-content .title{
        margin:0;
    }
    .btn-set .btn{
        font-size: 16px;
    }
    .m-term-le {
        width: 50%;
    }
    .prod-cont .product-right .pdlist .spset{
        padding:0;
    }
    .g-proudtable .g-cell{
        padding:20px;
    }
    .prod-cont .prodbase .priceset{
        margin-bottom: 20px;
    }
    .prod-cont .prodbase .specnum{
        padding-top: 20px;
    }
    .maxlatest .sign-content input[type="text"], .maxlatest .sign-content input[type="password"], .maxlatest .sign-content .btn{
        height: 30px; 
        line-height: 30px;
    }
    .footer .maxfootnav{
        padding-left: 10%;
   }

}







