## messageSource=classpath:/acerchemcore/messages/email-customerRegistration_$lang.properties
#macro(genHtmlLink)
<a href="mailto:customerservice@acerchem.com"><font color="#006000" size="2">customerservice@acerchem.com</font></a>
#end
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Failure of registration audit</title>
<style type="text/css">
	@page {
	margin-right: 0.79in;
	margin-top: 0.59in;
	margin-bottom: 0.47in
}
	.font{
		font-family:arial;
		font-size: 12px;
		border-color: #000000
		
	}
	</style>
</head>

<body>
<center>
	<table class="font" width="600px" height="300px" frame="void">
	<tbody>
		<tr height="30px">
			<td bgcolor="#006000">&nbsp;
				
			</td>
		</tr>
		<tr height="60px">
			<td align="center">
			<font size="5px" style="font-weight: 600" color="
			#006000">
				Failure of registration audit
			</font>
				
			</td>
		</tr>
		<tr>
			<td>
				${ctx.messages.getMessage('salutation', ${ctx.title},${ctx.displayName})},
			</td>
		</tr>
		<tr>
			<td>
				${ctx.messages.getMessage('registerEmailAnditFailureInfo', "#genHtmlLink()")}.

				
			</td>
		</tr>
		
		<tr>
			<td>
				
				${ctx.messages.instructionsContactUs_new} <a href="mailto:customerservice@acerchem.com"><font color="#006000" size="2">customerservice@acerchem.com</font></a>
			</td>
		</tr>
		<tr height="30px">
			<td bgcolor="#006000">&nbsp;
				
			</td>
		</tr>
		</tbody>
	</table>
</center>
</body>
</html>
